name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet: [ '5.0.100-preview.7.20366.6' ]
    name: .NET ${{ matrix.dotnet }}
    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ matrix.dotnet }}
      - name: Build
        run: dotnet build --configuration Release src/Interprocess.sln
      - name: Test
        run: dotnet test --no-restore --verbosity normal src/Interprocess.sln