name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-latest", "windows-latest", "macos-latest"]
    name: Build and Test on ${{ matrix.os }}
    
    steps:

      - name: Checkout
        uses: actions/checkout@v4
   
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            9.0.x

      - name: Build - Release
        run: dotnet build -c Release src/Interprocess.sln

      - name: Test - Debug
        run: dotnet test src/Interprocess.sln